In [9]:
import csv
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [10]:
heart_data = pd.read_csv('C:/Users/himan/Desktop/Coding/Induction/HEART FAILURE INDUCTION/heart_failure_train.csv')

In [11]:
X = heart_data.drop(columns='HeartDisease', axis=1)
Y = heart_data['HeartDisease']

In [12]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state = 2, test_size = 0.2)

In [13]:
X_train.head()

,Id,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
328,329,57,M,ASY,95,0,1,Normal,182,N,0.7,Down
627,628,55,M,ASY,142,228,0,ST,149,Y,2.5,Up
231,232,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat
226,227,56,M,NAP,130,167,0,Normal,114,N,0.0,Up
637,638,57,F,ASY,140,241,0,Normal,123,Y,0.2,Flat

In [14]:
X_train['Sex'].unique()

array(['M', 'F'], dtype=object)

In [15]:
from sklearn.preprocessing import OrdinalEncoder

In [19]:
sex=['M','F']

In [17]:
od=OrdinalEncoder(categories=[sex])

In [25]:
od.fit(X_train[['Sex']])

OrdinalEncoder(categories=[['M', 'F']])

In [27]:
pd.DataFrame(od.transform(X_train[['Sex']]))

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    1.0
..   ...
555  1.0
556  0.0
557  0.0
558  0.0
559  0.0

[560 rows x 1 columns]